<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/style.css}">
<title>D.INVEST | [[${pageTitle}]]</title>
</head>

<!-- <meta charset="ISO-8859-1">  -->

<body>
	<div class="background"></div>
		<div class="content">

		<h1 class="title">D.INVEST</h1>
		
		<h2 class="fraseh2">Registre o valor a ser investido</h2>
			
		<form th:action="@{/index/save}" method="post" th:object="${invest}">
		
		<div class="form">
		<div class="input-area">
		<span class="text">Numero da Conta</span>
		<input type="text" th:field="*{conta}" placeholder="Numero da Conta" required>
		</div>

		<div class="input-area">
		<span class="text">Numero da Agencia</span>
		<input type="text" th:field="*{agencia}" placeholder="Numero da Agencia" required>
		</div>

		<div class="input-area">
		<span class="text">Nome do Banco</span>
		<input type="text" th:field="*{bancoNome}" placeholder="Nome do Banco" required>
		</div>

		<div class="input-area">
		<span class="text">Numero do Banco</span>
		<input type="text" th:field="*{bancoNumero}" placeholder="Numero do Banco" required>
		</div>

		<!-- <input name="banco" placeholder="Banco ou Operadora"> -->
		</div>		

		<div class="btn-area">
		<button class="btn" type="button" onclick="cancelForm()">Cancelar</button>
		<button class="btn" type="submit">Salvar</button>
		</div>
	</form>
	</div>
	
	<script type="text/javascript">
		function cancelForm() {
			window.location = "/"
		}
	</script>
</body>
</html>
